{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="my-5">
        <div id="alert_box"></div>
        <!-- ID -->
        <input id="username" type="text">
        <!-- PASSWORD  -->
        <input id="password" type="password">
<!--        &lt;!&ndash; PASSWORD  CONFIG &ndash;&gt;-->
<!--        <input type="password">-->

        <input type="submit" class="btn btn-dark rounded-pill px-5" onclick="send_input()">
    </div>
<script src="{% static 'js/create.js' %}"></script>
{% endblock %}